.cookies{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: rgba($color1, 0.8);
	padding: 3vw;
	color: $color0;
	// text-align: center;
	.backdrop{

		p{ color: $color0; }
		a{ 
			text-decoration: underline;
			&:hover{
				color: $color4;
			}
		}
		.close-btn{
			display: block;
			background-color: $color4;
			color: $color0;
			margin: 20px auto 0;
			width: 200px;
			padding: 10px;
			text-decoration: none;
			text-align: center;
			&:hover{
				background-color: $color6;
				color: $color4;
			}
		}
	}
}

#bg-paralax{
	background-position: center bottom;
	padding: 15% 0;
	.container{
		background: rgba($white, 0.5);
	    padding: 20px 0;
	    // border-radius: 155px;
	} 
} 
#navigation{
	transition: background .3s ease;
	background-color: $nav-bg-color;
	&.open{
		background-color: $nav-affix-bg-color;
	}
	
}
#main-navigation{
	background-color: $nav-bg-color;
}

.navbar-toggle{
	right: -30px;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: $nav-burger-icon-color;
}

.fullscreenbanner li{
	// .layer-container{
	// 	position: relative;
	// 	top: 0;
	// 	left: 0;

	// }
	h2.tp-caption{
		font-weight: 400;
		line-height: 1.2!important;	
	}

	p.tp-caption{
		font-weight: 300;
		font-size: 12px!important;
		line-height: 1.2!important; 
	}
	.btn-common{
		font-size: 10px!important;
		line-height: 1	!important;
		padding: 6px 16px !important; 
	}
	&:nth-child(1),
	&:nth-child(2){
		.tp-caption{
			color: $slider-text-color !important;
		}
	}
}


ul.top-right li a{
	color: $menu-link-color;	
}
.thinker-image .overlay ul.social-link li a{
	border: $thinker-social-border;
	&:hover {
		&> i{
			color: $thinker-social-hover-color;		
		}
		span{
			background: $thinker-social-hover-bg-color;
			border: $thinker-social-hover-border;
		}
	}
}

.we-do .do-wrap {
	p{
		margin: 0 15px 40px;
	}
	span i{
		font-size: 35px;
	}
}
.counters-item{ 
	p{
		margin: 10px 0;
	}
	i.fi{
		font-size: 35px;
	}
}
#experties .logo-box{
	text-align: center;
	margin-bottom: 30px;
	img{
		max-width: 100%;
	}
}

.dot1{
	background-color: $spinner-dot1;
}
.dot2{
	background-color: $spinner-dot2;
}

footer p>a:hover{
	color: $footer-breadcrumbs-hover-link-color;
}

@media screen and (max-width: 767px){
	#main-navigation{
		background-color: $nav-bg-color;
	}
	.navbar-toggle{
		right: 0px !important;
		.icon-bar{
			background-color: $menu-link-color!important;
		}
	}
	.r-test .screens{
		text-align: center;
	}
	#experties{
		padding-bottom: 0;
		.logo-box{
			margin: 40px 0;
		}
	}
	#facts{
		.number-counters > .col-xs-12{
			height: 50%;
			.counters-item{
				height: 100%;
			}
		}
	}
	.work-filter {
		max-width: 320px;
		margin: 0 auto 50px;
		ul li{
			width: 49%;
			margin-bottom: 20px;
		}
	}
}
@include respond-to(tablet){
	
	.fullscreenbanner li{
		p.tp-caption{
			font-size: 18px!important;
		}
		.btn-common{
			font-size: 15px!important;
			padding: 12px 30px !important; 
		}
		&:nth-child(2){
			.tp-caption,
			.btn-comon{
				// top: initial;
			}
		}
	}
	.info-section{
		.block:nth-child(1){
			padding: 90px 5% 20px;
		}
	}

	#facts{
		.number-counters > .col-xs-12{
			height: 100%;
			.counters-item{
				height: 100%;
			}
		}
	}
}

@include respond-to(desktop){
	#experties .logo-box{
		margin-bottom: 0;
	}
}